@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .chartWrap{@apply
        /* bg-white */
        w-full
        h-full
    }
    .chart{@apply
        relative
        bg-white
        flex
        flex-wrap
        items-center
        /* h-48
        w-5/6
        xl:h-96 */
        w-full
        h-full
        cursor-pointer
        mx-auto
        my-auto
    }
    .visx-curves-demo{@apply
        font-size: 12px;
    }
    .tooltip{@apply
        relative
        font-size: 12px;
    }
}